@use 'sass:color';

$primary-color: #2c3e50;
$secondary-color: #e74c3c;
$accent-color: #3498db;
$background-color: rgb(224, 224, 224);
$text-color: #2c3e50;
$card-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
$card-shadow-hover: 0 15px 30px rgba(0, 0, 0, 0.2);
$transition-speed: 0.3s;
$border-radius: 12px;
$header-height: 70px;

@mixin primary-gradient {
  background: linear-gradient(135deg, $primary-color, $accent-color);
}

@mixin primary-gradient-hover {
  background: linear-gradient(135deg, $accent-color, $primary-color);
}
