@import '../../../styles/root';

.home-container {
    margin: 0 auto;

    .main-content{
        padding: 0!important;
    }

    .sidebar {
        background: white;
        border-radius: $border-radius;
        padding: 1.5rem;
        box-shadow: $card-shadow;
        position: sticky;
        top: 2rem;
    }

    .content-wrapper {
        display: grid;
        grid-template-columns: 280px 1fr;
        gap: 2rem;
        padding: 2rem;
    }

    .movies-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}

@media (max-width: 1655px) {
    .home-container .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .home-container {
        .content-wrapper {
            grid-template-columns: 240px 1fr;
        }

        .movies-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 956px) {
    .home-container {
        .content-wrapper {
            grid-template-columns: 1fr;
            padding: 1rem;
        }

        .sidebar {
            position: static;
            margin-bottom: 2rem;
        }

        .movies-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 615px) {
    .home-container {
        .movies-grid {
            grid-template-columns: 1fr;
        }
    }
}