@use '../../../styles/root' as *;
@use 'sass:color';

.admin-layout {
    min-height: 100vh;
    background: $background-color;

    .admin-main {
        padding: 2rem;
        margin-top: $header-height;
    }
}